/* @media all and(min-width:601px) {
  h1.top {
    font-size: 45px;
    line-height:2vw;
  }
} */

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
}
h1 {
  font-size: 5vw;
  line-height: 2vw;
}
h3 {
  font-size: 2vw;
}
.top-section {
  background-image: url("images/top-banner.png");
  background-repeat: no-repeat;
}
section {
  height: 400px;
}
.top .highlight-name {
  color: #194d75;
}
.container {
  width: 100%;
  display: float;
}
.left-sec {
  width: 40%;
  float: left;
  margin-top: 4%;
  margin-left: 7%;
}
.left-sec p {
  text-align: justify;
  word-spacing: 1px;
  font-size: 1.7vw;
}
.left-sec p span {
  color: #4a7dff;
  border-bottom: 0.9px solid lightseagreen;
}
.left-sec .btn a {
  text-decoration: none;
  color: #fff;
  font-weight: 700;
}
.btn {
  background-image: linear-gradient(#5f74aa, #4a7dff);
  border: none;
  border-radius: 0.3em;
  font-size: 1.4vw;
}
.right-sec {
  width: 50%;
  float: right;
}
.right-sec img {
  width: 80%;
  margin-top: 5%;
}
